name: Main branch CI

on:
  pull_request:
    branches:
      - main
  push:
  schedule:
    - cron: "40 6 * * 0"

jobs:
  codeql:
    name: CodeQL Analysis
    uses: canonical/sdcore-github-workflows/.github/workflows/codeql-analysis.yml@v2.3.0

  lint-report:
    uses: canonical/sdcore-github-workflows/.github/workflows/lint-report.yaml@v2.3.0

  terraform-check:
    uses: canonical/sdcore-github-workflows/.github/workflows/terraform.yaml@v2.3.0

  static-analysis:
    uses: canonical/sdcore-github-workflows/.github/workflows/static-analysis.yaml@v2.3.0

  check-libraries:
    uses: canonical/sdcore-github-workflows/.github/workflows/check-libraries.yaml@v2.3.0
    secrets:
      CHARMCRAFT_AUTH: ${{ secrets.CHARMCRAFT_AUTH }}

  unit-tests-with-coverage:
    uses: canonical/sdcore-github-workflows/.github/workflows/unit-test.yaml@v2.3.0

  build:
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
    uses: canonical/sdcore-github-workflows/.github/workflows/build.yaml@v2.3.0
    secrets: inherit

  integration-test:
    needs:
      - build
    uses: canonical/sdcore-github-workflows/.github/workflows/integration-test-with-multus.yaml@v2.3.0

  publish-charm:
    name: Publish Charm
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
      - integration-test
    if: ${{ github.ref_name == 'main' }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-charm.yaml@v2.3.0
    with:
      track-name: 1.6
    secrets:
      CHARMCRAFT_AUTH: ${{ secrets.CHARMCRAFT_AUTH }}

  publish-charm-on-push:
    name: Publish Developer Charm To Branch
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
      - integration-test
    if: ${{ (github.ref_name != 'main') && (github.event_name == 'push') }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-charm.yaml@v2.3.0
    with:
      branch-name: ${{ github.ref_name }}
      track-name: 1.6
    secrets:
      CHARMCRAFT_AUTH: ${{ secrets.CHARMCRAFT_AUTH }}

  sdcore-config-lib-needs-publishing:
    runs-on: ubuntu-24.04
    outputs:
      needs-publishing: ${{ steps.changes.outputs.sdcore_config }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            sdcore_config:
              - 'lib/charms/sdcore_nms_k8s/v0/sdcore_config.py'

  publish-sdcore-config-lib:
    name: Publish SDCore Config Lib
    needs:
      - publish-charm
      - sdcore-config-lib-needs-publishing
    if: ${{ github.ref_name == 'main' }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-lib.yaml@v2.3.0
    with:
      lib-name: "charms/sdcore_nms_k8s/v0/sdcore_config"
    secrets: inherit

  fiveg-core-gnb-lib-needs-publishing:
    runs-on: ubuntu-24.04
    outputs:
      needs-publishing: ${{ steps.changes.outputs.fiveg_core_gnb }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            fiveg_core_gnb:
              - 'lib/charms/sdcore_nms_k8s/v0/fiveg_core_gnb.py'

  publish-fiveg-core-gnb-lib:
    name: Publish FiveG Core gNB Lib
    needs:
      - publish-charm
      - fiveg-core-gnb-lib-needs-publishing
    if: ${{ github.ref_name == 'main' }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-lib.yaml@v2.3.0
    with:
      lib-name: "charms/sdcore_nms_k8s/v0/fiveg_core_gnb"
    secrets: inherit
